<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/styles/scss/main.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
</head>
<body>
    <div class="@ViewData["Wrapper_Class"]">

        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }
        else
        {
            <partial name="HeaderPartial" />
        }

        <main>@RenderBody()</main>

        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <partial name="FooterPartial" />
        }

    </div>
    @if (!IsSectionDefined("Header") && IsSectionDefined("Scripts"))
    {
        <script src="@Url.Content("~/scripts/nav_bar.js")"></script>
        <script src="@Url.Content("~/scripts/lang_tray.js")"></script>
        @RenderSection("Scripts");
    }
</body>
</html>
